{% extends "/base.html" %}

{% block body_contents %}
<h2>Report:</h2>

<ul class="list-group">
    {% for data in Accounting.select(Accounting.address, fn.strftime('%Y-%m-%d', Accounting.date).alias('date'),
    fn.sum(Accounting.download).alias('download'),
    fn.sum(Accounting.upload).alias('upload')).group_by(Accounting.address, 'date').distinct() %}


    <li class="list-group-item d-flex justify-content-between align-items-center">
        <div class="row">
            <div class="col">{{data.date}}</div>
            <div class="col">{{data.address}}</div>
            <div class="col">{{(data.download/1000000)|round(1)}} MB</div>
            <div class="col">{{(data.upload/1000000)|round(1)}} MB</div>
        </div>


    </li>


    {% endfor %}
</ul>
{% endblock %}

